body {
    /*background-color: red;*/
}

/*.jumbotron {*/
/*    background-image: url(https://java.codeup.com/examples/bootstrap/pizza.png);*/
/*}*/

/*h1 {*/
/*    display: flex;*/
/*    justify-content: center;*/

/*}*/

#main-jumbo {
    background-image: url(https://java.codeup.com/examples/bootstrap/pizza.png);
    background-size: cover;
}

#welcome-title {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}