.fancy-header {
    text-align: center;
    color: brown;
    text-decoration: underline;
}

h2 {
    color: saddlebrown;
    text-decoration: underline;
}

body {
    background-color: beige;
}

body {
    background-image: url(https://bhf-cdn.azureedge.net/bhf-blob-prod/0023374_briar-beige-damask-wallpaper_600.jpeg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}

ul {
    list-style: square;
}

body {
    font-family: "Comic Sans MS", Helvetica;
}

tr>td {
    font-size: 22px;
    padding-top: 25px;
    padding-left: 30px;
}

th {
    padding-left: 30px;
}

a:link {
    color: royalblue;
}

a:visited {
    color:purple;
}

a:hover {
    color: black;
    background-color: orange;
}

a:active {
    background-color: gray;
}

