#coordinates {
    height: 50px;
    width: 220px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    visibility: hidden;
}

#geocoder {
    z-index: 1;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-loading {
    display: none
}

.mapboxgl-ctrl-geocoder--button {
    visibility: hidden
}

